GOOGLE_PLAY_SERVICE_ACCOUNT_PATH=
GOOGLE_PLAY_PACKAGE_NAME=
GOOGLE_PLAY_DEVELOPER_ID=

GOOGLE_PLAY_BUCKET_NAME=
GOOGLE_PLAY_STAT_PREFIX=

APPLE_KEY_ID=
APPLE_ISSUER_ID=
APPLE_PRIVATE_KEY_PATH=
APPLE_BUNDLE_ID=